# Data Preparation Notebook

In [213]:
import pandas as pd

In [214]:
df = pd.read_parquet("autoconsumo.parquet")
df

,trimestre,distrito,concelho,freguesia,codigo_postal,tipo_de_tecnologia,nivel_de_tensao,escalao_de_potencia_instalada,numero_de_instalacoes,potencia_instalada_upac_kw,coddistrito,codconcelho,codfreguesia,cpes,relacao_instalacoes_por_cpe,relacao_potencia_por_cpe
0,2023T1,Coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,06,0604,060407,9537.0,0.000210,0.000315
1,2023T1,Coimbra,Condeixa-a-Nova,Zambujal,3150,Solar,BTN,"]0, 4]",2,4.32,06,0604,060410,9537.0,0.000210,0.000453
2,2023T1,Coimbra,Condeixa-a-Nova,Condeixa-a-Velha e Condeixa-a-Nova,3150,Não Atribuído,BTN,"]0, 4]",1,1.05,06,0604,060411,9537.0,0.000105,0.000110
3,2023T1,Coimbra,Condeixa-a-Nova,Vila Seca e Bem da Fé,3150,Solar,BTN,"]0, 4]",17,28.14,06,0604,060413,9537.0,0.001783,0.002951
4,2023T1,Coimbra,Figueira da Foz,São Pedro,3090,Não Atribuído,BTN,"]0, 4]",2,3.28,06,0605,060514,50436.0,0.000040,0.000065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121289,2025T2,Viseu,Viseu,Viseu,3515,Solar,BTN,"]4, 20.7]",1,20.00,18,1823,182341,67347.0,0.000015,0.000297
121290,2025T2,Viseu,Vouzela,Queirã,3670,Solar,BTN,"]4, 20.7]",7,53.51,18,1824,182409,7404.0,0.000945,0.007227
121291,2025T2,Viseu,Vouzela,São Miguel do Mato,3670,Solar,BTN,"]4, 20.7]",3,24.00,18,1824,182410,7404.0,0.000405,0.003241
121292,2025T2,Viseu,Vouzela,Ventosa,3670,Solar,BTN,"]4, 20.7]",3,31.20,18,1824,182411,7404.0,0.000405,0.004214
121293,2025T2,Viseu,Vouzela,Vouzela e Paços de Vilharigues,3670,Solar,BTN,"]4, 20.7]",6,71.08,18,1824,182415,7404.0,0.000810,0.009600

In [215]:
duplicadas = df[df.duplicated()]

print(f"Número de linhas duplicadas: {len(duplicadas)}")

Número de linhas duplicadas: 0

In [216]:
contagem = df["distrito"].value_counts()

print(contagem)

with open("distrito_upac.txt", "w", encoding="utf-8") as f:
    for nome, freq in contagem.items():
        f.write(f"{nome}\t{freq}\n")

distrito
Braga               15642
Porto               14864
Lisboa              10960
Viseu                9050
Aveiro               8804
Santarém             7209
Leiria               6746
Coimbra              6300
Guarda               5246
Viana do Castelo     5150
Vila Real            4844
Bragança             4620
Faro                 4418
Setúbal              4068
Castelo Branco       3825
Beja                 3468
Évora                3318
Portalegre           2762
Name: count, dtype: int64

In [217]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121294 entries, 0 to 121293
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   trimestre                      121294 non-null  object
 1   distrito                       121294 non-null  object
 2   concelho                       121294 non-null  object
 3   freguesia                      121294 non-null  object
 4   codigo_postal                  121294 non-null  object
 5   tipo_de_tecnologia             121283 non-null  object
 6   nivel_de_tensao                121292 non-null  object
 7   escalao_de_potencia_instalada  121294 non-null  object
 8   numero_de_instalacoes          121294 non-null  int64
 9   potencia_instalada_upac_kw     121294 non-null  float64
 10  coddistrito                    121294 non-null  object
 11  codconcelho                    121294 non-null  object
 12  codfreguesia                   121294 non-null  object
 13  cpes                           121294 non-null  float64
 14  relacao_instalacoes_por_cpe    121294 non-null  float64
 15  relacao_potencia_por_cpe       121294 non-null  float64
dtypes: float64(4), int64(1), object(11)
memory usage: 14.8+ MB

To see rows in the dataset where there are null values

In [218]:
df_null = df[df.isnull().any(axis=1)]
df_null

,trimestre,distrito,concelho,freguesia,codigo_postal,tipo_de_tecnologia,nivel_de_tensao,escalao_de_potencia_instalada,numero_de_instalacoes,potencia_instalada_upac_kw,coddistrito,codconcelho,codfreguesia,cpes,relacao_instalacoes_por_cpe,relacao_potencia_por_cpe
9688,2024T4,Viseu,Oliveira de Frades,Pinheiro,3680,Solar,None,"]0, 4]",1,2.50,18,1810,181005,6865.0,0.000146,0.000364
26907,2025T1,Porto,Valongo,Alfena,4440,None,MT,>1000,1,1654.70,13,1315,131501,48769.0,0.000021,0.033929
26984,2025T1,Aveiro,Mealhada,Pampilhosa,3050,None,MT,>1000,1,1428.00,01,0111,011106,11707.0,0.000085,0.121978
28271,2025T1,Porto,Póvoa de Varzim,Rates,4570,None,MT,"]30, 1000]",1,249.61,13,1313,131311,45501.0,0.000022,0.005486
33505,2025T2,Coimbra,Cantanhede,Cantanhede e Pocariça,3060,None,AT,>1000,1,2000.00,06,0602,060220,24524.0,0.000041,0.081553
33509,2025T2,Porto,Valongo,Alfena,4440,None,MT,>1000,1,1654.70,13,1315,131501,48769.0,0.000021,0.033929
42893,2024T3,Viseu,Oliveira de Frades,Pinheiro,3680,Solar,None,"]0, 4]",1,2.50,18,1810,181005,6865.0,0.000146,0.000364
70667,2025T1,Leiria,Leiria,Monte Redondo e Carreira,2425,None,MT,>1000,1,1760.00,10,1009,100936,84279.0,0.000012,0.020883
74711,2025T2,Leiria,Leiria,Monte Redondo e Carreira,2425,None,MT,>1000,1,1760.00,10,1009,100936,84279.0,0.000012,0.020883
76161,2025T2,Porto,Póvoa de Varzim,Rates,4570,None,MT,"]30, 1000]",1,249.61,13,1313,131311,45501.0,0.000022,0.005486
101227,2025T1,Coimbra,Cantanhede,Cantanhede e Pocariça,3060,None,AT,>1000,1,2000.00,06,0602,060220,24524.0,0.000041,0.081553
111719,2025T2,Guarda,Guarda,Vila Garcia,6300,None,MT,>1000,1,1320.00,09,0907,090753,30986.0,0.000032,0.042600
111802,2025T2,Aveiro,Mealhada,Pampilhosa,3050,None,MT,>1000,1,1428.00,01,0111,011106,11707.0,0.000085,0.121978

To understand how many "concelhos" there are and how many ocurrences of each one.

In [219]:
contagem = df["concelho"].value_counts()

print(contagem)

with open("contagem_concelho.txt", "w", encoding="utf-8") as f:
    for nome, freq in contagem.items():
        f.write(f"{nome}\t{freq}\n")

concelho
Barcelos                  3088
Guimarães                 2881
Braga                     2466
Lisboa                    1935
Vila Nova de Famalicão    1933
                          ...
Manteigas                   82
Pedrógão Grande             75
São Brás de Alportel        72
Barrancos                   34
Castanheira de Pêra         29
Name: count, Length: 278, dtype: int64

To later ease the process of data aggregation, a new column was created

In [220]:
df["Ano"] = df["trimestre"].str[:4].astype(int)

Not so important column were removed

In [221]:
df = df.drop(columns=[
    "coddistrito",
    "codconcelho",
    "codfreguesia",
    "cpes",
    "relacao_instalacoes_por_cpe",
    "relacao_potencia_por_cpe"
])
df

,trimestre,distrito,concelho,freguesia,codigo_postal,tipo_de_tecnologia,nivel_de_tensao,escalao_de_potencia_instalada,numero_de_instalacoes,potencia_instalada_upac_kw,Ano
0,2023T1,Coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023
1,2023T1,Coimbra,Condeixa-a-Nova,Zambujal,3150,Solar,BTN,"]0, 4]",2,4.32,2023
2,2023T1,Coimbra,Condeixa-a-Nova,Condeixa-a-Velha e Condeixa-a-Nova,3150,Não Atribuído,BTN,"]0, 4]",1,1.05,2023
3,2023T1,Coimbra,Condeixa-a-Nova,Vila Seca e Bem da Fé,3150,Solar,BTN,"]0, 4]",17,28.14,2023
4,2023T1,Coimbra,Figueira da Foz,São Pedro,3090,Não Atribuído,BTN,"]0, 4]",2,3.28,2023
...,...,...,...,...,...,...,...,...,...,...,...
121289,2025T2,Viseu,Viseu,Viseu,3515,Solar,BTN,"]4, 20.7]",1,20.00,2025
121290,2025T2,Viseu,Vouzela,Queirã,3670,Solar,BTN,"]4, 20.7]",7,53.51,2025
121291,2025T2,Viseu,Vouzela,São Miguel do Mato,3670,Solar,BTN,"]4, 20.7]",3,24.00,2025
121292,2025T2,Viseu,Vouzela,Ventosa,3670,Solar,BTN,"]4, 20.7]",3,31.20,2025
121293,2025T2,Viseu,Vouzela,Vouzela e Paços de Vilharigues,3670,Solar,BTN,"]4, 20.7]",6,71.08,2025

The dataset from PORDATA


Link: https://www.pordata.pt/pt/estatisticas/populacao/populacao-residente/populacao-residente-por-sexo-e-grupo-etario?_gl=1*1une0z7*_up*MQ..*_ga*ODM5MzAyNjAxLjE3NTk3NDU0Njg.*_ga_HL9EXBCVBZ*czE3NTk3NDU0NjgkbzEkZzEkdDE3NTk3NDU0OTIkajM2JGwwJGgw

In [222]:
df_pop = pd.read_csv("1.csv")
df_pop

C:\Users\InesNeves\AppData\Local\Temp\ipykernel_32228\2465928536.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pop = pd.read_csv("1.csv")

,01. Ano,02. Nome País (Europa),03. Nome Região (Portugal),04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,10. Valor
0,1960.0,NaN,Portugal,NaN,Homens,5 - 9 anos,NaN,pessoas,NaN,433899.0
1,1960.0,NaN,Portugal,NaN,Homens,10 - 14 anos,NaN,pessoas,NaN,423614.0
2,1960.0,NaN,Portugal,NaN,Homens,15 - 19 anos,NaN,pessoas,NaN,366103.0
3,1960.0,NaN,Portugal,NaN,Homens,20 - 24 anos,NaN,pessoas,NaN,336672.0
4,1960.0,NaN,Portugal,NaN,Homens,25 - 29 anos,NaN,pessoas,NaN,324364.0
...,...,...,...,...,...,...,...,...,...,...
718880,2024.0,NaN,Vouzela,Município,Total,Total,NaN,pessoas,NaN,9807.0
718881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718882,NaN,Indicador: População residente por sexo e grup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718883,NaN,Ultima atualização: 01.10.2025 15:35:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718884,NaN,Fonte: Base de dados do INE - Instituto Nacion...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Renaming columns

In [223]:
df_pop = df_pop.rename(columns={"01. Ano": "Ano", "03. Nome Região (Portugal)": "Nome_Reg", "10. Valor": "Num_pop" })

Targeting years of interest

In [224]:
df_pop = df_pop[df_pop["Ano"].isin([2023, 2024])]
df_pop

,Ano,02. Nome País (Europa),Nome_Reg,04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,Num_pop
679743,2023.0,NaN,Portugal,NaN,Homens,5 - 9 anos,NaN,pessoas,NaN,229621.0
679744,2023.0,NaN,Portugal,NaN,Homens,10 - 14 anos,NaN,pessoas,NaN,247542.0
679745,2023.0,NaN,Portugal,NaN,Homens,15 - 19 anos,NaN,pessoas,NaN,269206.0
679746,2023.0,NaN,Portugal,NaN,Homens,20 - 24 anos,NaN,pessoas,NaN,290561.0
679747,2023.0,NaN,Portugal,NaN,Homens,25 - 29 anos,NaN,pessoas,NaN,291928.0
...,...,...,...,...,...,...,...,...,...,...
718876,2024.0,NaN,Vouzela,Município,Total,75 - 79 anos,NaN,pessoas,NaN,615.0
718877,2024.0,NaN,Vouzela,Município,Total,80 - 84 anos,NaN,pessoas,NaN,540.0
718878,2024.0,NaN,Vouzela,Município,Total,85 ou mais anos,NaN,pessoas,NaN,567.0
718879,2024.0,NaN,Vouzela,Município,Total,Menos de 5 anos,NaN,pessoas,NaN,296.0
718880,2024.0,NaN,Vouzela,Município,Total,Total,NaN,pessoas,NaN,9807.0

Only keeping columns were "Filtro 1" (Sex) and "Filtro 2"(Age) are Total

In [225]:
df_pop = df_pop[
    (df_pop["05. Filtro 1"].str.strip().str.lower() == "total") &
    (df_pop["06. Filtro 2"].str.strip().str.lower() == "total")
]

df_pop

,Ano,02. Nome País (Europa),Nome_Reg,04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,Num_pop
679811,2023.0,NaN,Portugal,NaN,Total,Total,NaN,pessoas,NaN,10639726.0
679883,2023.0,Alemanha,NaN,NaN,Total,Total,NaN,pessoas,Quebra de série,83118501.0
679955,2023.0,Áustria,NaN,NaN,Total,Total,NaN,pessoas,NaN,9104772.0
680027,2023.0,Bélgica,NaN,NaN,Total,Total,NaN,pessoas,NaN,11742796.0
680099,2023.0,Bulgária,NaN,NaN,Total,Total,NaN,pessoas,NaN,6447710.0
...,...,...,...,...,...,...,...,...,...,...
718652,2024.0,NaN,Vimioso,Município,Total,Total,NaN,pessoas,NaN,4174.0
718709,2024.0,NaN,Vinhais,Município,Total,Total,NaN,pessoas,NaN,7355.0
718766,2024.0,NaN,Viseu,Município,Total,Total,NaN,pessoas,NaN,103502.0
718823,2024.0,NaN,Vizela,Município,Total,Total,NaN,pessoas,NaN,24688.0
718880,2024.0,NaN,Vouzela,Município,Total,Total,NaN,pessoas,NaN,9807.0

Removing entries from countries that are not Portugal, this was done by removing rows where Nome_reg is NaN

In [226]:
df_pop = df_pop.dropna(subset=["Nome_Reg"])

Removing columns with all entries NaN

In [227]:
df_pop = df_pop.dropna(axis=1, how='all')

Checking that all unique values from "Nome_Reg" have two entries, which means having an entry in 2023 and 2024

In [228]:
contagem = df_pop["Nome_Reg"].value_counts()

print(contagem)

with open("contagem_regioes.txt", "w", encoding="utf-8") as f:
    for nome, freq in contagem.items():
        f.write(f"{nome}\t{freq}\n")

Nome_Reg
Vouzela               2
Portugal              2
Abrantes              2
Águeda                2
Aguiar da Beira       2
                     ..
Alcobaça              2
Alcanena              2
Alcácer do Sal        2
Albufeira             2
Albergaria-a-Velha    2
Name: count, Length: 309, dtype: int64

In [229]:
df_pop

,Ano,Nome_Reg,04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,08. Escala,Num_pop
679811,2023.0,Portugal,NaN,Total,Total,pessoas,10639726.0
681812,2023.0,Abrantes,Município,Total,Total,pessoas,33811.0
681869,2023.0,Águeda,Município,Total,Total,pessoas,47220.0
681926,2023.0,Aguiar da Beira,Município,Total,Total,pessoas,5302.0
681983,2023.0,Alandroal,Município,Total,Total,pessoas,4996.0
...,...,...,...,...,...,...,...
718652,2024.0,Vimioso,Município,Total,Total,pessoas,4174.0
718709,2024.0,Vinhais,Município,Total,Total,pessoas,7355.0
718766,2024.0,Viseu,Município,Total,Total,pessoas,103502.0
718823,2024.0,Vizela,Município,Total,Total,pessoas,24688.0
718880,2024.0,Vouzela,Município,Total,Total,pessoas,9807.0

In [230]:
duplicadas = df_pop[df_pop.duplicated()]
print(f"Número de linhas duplicadas: {len(duplicadas)}")

Número de linhas duplicadas: 0

In order to join the previous datasets a 3rd one was needed to connect district to region to population per district

Link: https://public.opendatasoft.com/explore/assets/georef-portugal-concelho/export

In [231]:
df_md = pd.read_csv("georef-portugal-concelho.csv", sep=';', encoding='utf-8')
df_md

,Geo Point,Geo Shape,Year,Official Code District,Official Name District,Official Code Municipality,Official Name Municipality,Official Name Municipality upper case,Official Name Municipality lower case,Iso 3166-3 Area Code,Type
0,"41.68075929376601, -8.443475345420746","{""coordinates"": [[[-8.499742362161625, 41.5688...",2021,3,Braga,313,Vila Verde,Vila Verde,vila verde,PRT,municipality
1,"38.6832478296901, -28.150503430120736","{""coordinates"": [[[-28.064130275826614, 38.625...",2021,20,Açores,4502,Velas,Velas,velas,PRT,autonomous region
2,"37.1956837469157, -7.87864209047446","{""coordinates"": [[[-7.8218695243223, 37.126469...",2021,8,Faro,812,São Brás de Alportel,São Brás de Alportel,são brás de alportel,PRT,municipality
3,"39.48167597530061, -8.400411321963686","{""coordinates"": [[[-8.437493816576225, 39.4517...",2021,14,Santarém,1420,Vila Nova da Barquinha,Vila Nova da Barquinha,vila nova da barquinha,PRT,municipality
4,"38.92210538278704, -8.984502796649416","{""coordinates"": [[[-9.083558169371576, 38.9292...",2021,11,Lisboa,1114,Vila Franca de Xira,Vila Franca de Xira,vila franca de xira,PRT,municipality
...,...,...,...,...,...,...,...,...,...,...,...
303,"40.77029838152863, -7.673970923466227","{""coordinates"": [[[-7.762026257655814, 40.6810...",2021,18,Viseu,1817,Sátão,Sátão,sátão,PRT,municipality
304,"39.92659668402883, -8.677701702204818","{""coordinates"": [[[-8.623900423543821, 39.7895...",2021,10,Leiria,1015,Pombal,Pombal,pombal,PRT,municipality
305,"41.847556507941285, -8.79085748872578","{""coordinates"": [[[[-8.874257704227457, 41.796...",2021,16,Viana do Castelo,1602,Caminha,Caminha,caminha,PRT,municipality
306,"41.510998671023124, -7.623266193154976","{""coordinates"": [[[-7.650940538695128, 41.3960...",2021,17,Vila Real,1713,Vila Pouca de Aguiar,Vila Pouca de Aguiar,vila pouca de aguiar,PRT,municipality
307,"37.8193899960395, -25.728702891636495","{""coordinates"": [[[-25.616717992250226, 37.826...",2021,20,Açores,4203,Ponta delgada,Ponta Delgada,ponta delgada,PRT,autonomous region

Removing not so important columns

In [232]:
colunas_para_remover = [
    "Geo Point", 
    "Geo Shape", 
    "Year", 
    "Iso 3166-3 Area Code"
]

df_md = df_md.drop(columns=colunas_para_remover)
df_md

,Official Code District,Official Name District,Official Code Municipality,Official Name Municipality,Official Name Municipality upper case,Official Name Municipality lower case,Type
0,3,Braga,313,Vila Verde,Vila Verde,vila verde,municipality
1,20,Açores,4502,Velas,Velas,velas,autonomous region
2,8,Faro,812,São Brás de Alportel,São Brás de Alportel,são brás de alportel,municipality
3,14,Santarém,1420,Vila Nova da Barquinha,Vila Nova da Barquinha,vila nova da barquinha,municipality
4,11,Lisboa,1114,Vila Franca de Xira,Vila Franca de Xira,vila franca de xira,municipality
...,...,...,...,...,...,...,...
303,18,Viseu,1817,Sátão,Sátão,sátão,municipality
304,10,Leiria,1015,Pombal,Pombal,pombal,municipality
305,16,Viana do Castelo,1602,Caminha,Caminha,caminha,municipality
306,17,Vila Real,1713,Vila Pouca de Aguiar,Vila Pouca de Aguiar,vila pouca de aguiar,municipality
307,20,Açores,4203,Ponta delgada,Ponta Delgada,ponta delgada,autonomous region

Normalise column Nome_Reg (remove extra spaces and lowercase letters) for proper merge later

Select only columns that are important for the merge from df_md

In [233]:
df_pop['Nome_Reg_clean'] = df_pop['Nome_Reg'].str.strip().str.lower()

df_md_subset = df_md[['Official Name Municipality lower case', 'Official Name District']]

Merge of the datasets and then removing the "extra" columns

In [234]:
df_merged = df_pop.merge(
    df_md_subset,
    left_on='Nome_Reg_clean',
    right_on='Official Name Municipality lower case',
    how='left'
)

df_merged = df_merged.drop(columns=['Nome_Reg_clean', 'Official Name Municipality lower case'])

df_merged

,Ano,Nome_Reg,04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,08. Escala,Num_pop,Official Name District
0,2023.0,Portugal,NaN,Total,Total,pessoas,10639726.0,NaN
1,2023.0,Abrantes,Município,Total,Total,pessoas,33811.0,Santarém
2,2023.0,Águeda,Município,Total,Total,pessoas,47220.0,Aveiro
3,2023.0,Aguiar da Beira,Município,Total,Total,pessoas,5302.0,Guarda
4,2023.0,Alandroal,Município,Total,Total,pessoas,4996.0,Évora
...,...,...,...,...,...,...,...,...
615,2024.0,Vimioso,Município,Total,Total,pessoas,4174.0,Bragança
616,2024.0,Vinhais,Município,Total,Total,pessoas,7355.0,Bragança
617,2024.0,Viseu,Município,Total,Total,pessoas,103502.0,Viseu
618,2024.0,Vizela,Município,Total,Total,pessoas,24688.0,Braga
619,2024.0,Vouzela,Município,Total,Total,pessoas,9807.0,Viseu

In [235]:
duplicadas = df_merged[df_merged.duplicated()]
print(f"Número de linhas duplicadas: {len(duplicadas)}")

Número de linhas duplicadas: 0

Removing not so important columns

In [236]:
colunas_para_remover = [
    "05. Filtro 1", 
    "06. Filtro 2", 
    "08. Escala ", 
    "04. Âmbito Geográfico"
]

df_merged = df_merged.drop(columns=colunas_para_remover)
df_merged

        Ano         Nome_Reg     Num_pop Official Name District
0    2023.0         Portugal  10639726.0                    NaN
1    2023.0         Abrantes     33811.0               Santarém
2    2023.0           Águeda     47220.0                 Aveiro
3    2023.0  Aguiar da Beira      5302.0                 Guarda
4    2023.0        Alandroal      4996.0                  Évora
..      ...              ...         ...                    ...
615  2024.0          Vimioso      4174.0               Bragança
616  2024.0          Vinhais      7355.0               Bragança
617  2024.0            Viseu    103502.0                  Viseu
618  2024.0           Vizela     24688.0                  Braga
619  2024.0          Vouzela      9807.0                  Viseu

[620 rows x 4 columns]

Understanding where there are null values.

Since there are from either Madeira and Azores, they can be removed as the original dataset does not have information for those regions. Portugal as a whole can be removed too

In [237]:
linhas_com_null = df_merged[df_merged.iloc[:, -1].isna()]

linhas_com_null

        Ano                  Nome_Reg     Num_pop Official Name District
0    2023.0                  Portugal  10639726.0                    NaN
57   2023.0          Calheta [R.A.A.]      3494.0                    NaN
58   2023.0          Calheta [R.A.M.]     11162.0                    NaN
120  2023.0            Lagoa [R.A.A.]     14920.0                    NaN
284  2023.0  Vila da Praia da Vitória     19740.0                    NaN
310  2024.0                  Portugal  10749635.0                    NaN
367  2024.0          Calheta [R.A.A.]      3486.0                    NaN
368  2024.0          Calheta [R.A.M.]     11377.0                    NaN
430  2024.0            Lagoa [R.A.A.]     15130.0                    NaN
594  2024.0  Vila da Praia da Vitória     19862.0                    NaN

In [238]:
df_merged = df_merged.dropna(subset=[df_merged.columns[-1]])
df_merged

        Ano            Nome_Reg   Num_pop Official Name District
1    2023.0            Abrantes   33811.0               Santarém
2    2023.0              Águeda   47220.0                 Aveiro
3    2023.0     Aguiar da Beira    5302.0                 Guarda
4    2023.0           Alandroal    4996.0                  Évora
5    2023.0  Albergaria-a-Velha   25779.0                 Aveiro
..      ...                 ...       ...                    ...
615  2024.0             Vimioso    4174.0               Bragança
616  2024.0             Vinhais    7355.0               Bragança
617  2024.0               Viseu  103502.0                  Viseu
618  2024.0              Vizela   24688.0                  Braga
619  2024.0             Vouzela    9807.0                  Viseu

[610 rows x 4 columns]

Creating a new column that has all the population from the district that the value from the column nome_reg belongs too.

In [239]:
df_merged = df_merged.copy()

df_merged["pop_distrito"] = (
    df_merged.groupby(["Ano", "Official Name District"])["Num_pop"]
    .transform("sum")
)
df_merged

        Ano            Nome_Reg   Num_pop Official Name District  pop_distrito
1    2023.0            Abrantes   33811.0               Santarém      441255.0
2    2023.0              Águeda   47220.0                 Aveiro      725461.0
3    2023.0     Aguiar da Beira    5302.0                 Guarda      141995.0
4    2023.0           Alandroal    4996.0                  Évora      153475.0
5    2023.0  Albergaria-a-Velha   25779.0                 Aveiro      725461.0
..      ...                 ...       ...                    ...           ...
615  2024.0             Vimioso    4174.0               Bragança      122360.0
616  2024.0             Vinhais    7355.0               Bragança      122360.0
617  2024.0               Viseu  103502.0                  Viseu      357841.0
618  2024.0              Vizela   24688.0                  Braga      867537.0
619  2024.0             Vouzela    9807.0                  Viseu      357841.0

[610 rows x 5 columns]

ensure that names are consistent, that data type is the same and then convert districts to lowercase (to avoid failures due to upper/lowercase letters) to prepare the dataframes to merge

In [240]:
df_merged = df_merged.rename(columns={"Official Name District": "distrito"})

df["Ano"] = df["Ano"].astype(int)
df_merged["Ano"] = df_merged["Ano"].astype(int)

df["distrito"] = df["distrito"].str.lower().str.strip()
df_merged["distrito"] = df_merged["distrito"].str.lower().str.strip()

In [241]:

df_final = pd.merge(
    df,
    df_merged[["Ano", "distrito", "pop_distrito"]],
    on=["Ano", "distrito"],
    how="left"
)

In [242]:
df_final

,trimestre,distrito,concelho,freguesia,codigo_postal,tipo_de_tecnologia,nivel_de_tensao,escalao_de_potencia_instalada,numero_de_instalacoes,potencia_instalada_upac_kw,Ano,pop_distrito
0,2023T1,coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023,418136.0
1,2023T1,coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023,418136.0
2,2023T1,coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023,418136.0
3,2023T1,coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023,418136.0
4,2023T1,coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023,418136.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1466268,2025T2,viseu,Viseu,Viseu,3515,Solar,BTN,"]4, 20.7]",1,20.00,2025,NaN
1466269,2025T2,viseu,Vouzela,Queirã,3670,Solar,BTN,"]4, 20.7]",7,53.51,2025,NaN
1466270,2025T2,viseu,Vouzela,São Miguel do Mato,3670,Solar,BTN,"]4, 20.7]",3,24.00,2025,NaN
1466271,2025T2,viseu,Vouzela,Ventosa,3670,Solar,BTN,"]4, 20.7]",3,31.20,2025,NaN
1466272,2025T2,viseu,Vouzela,Vouzela e Paços de Vilharigues,3670,Solar,BTN,"]4, 20.7]",6,71.08,2025,NaN

In [243]:
duplicadas = df_final[df_final.duplicated()]
print(f"Número de linhas duplicadas: {len(duplicadas)}")

Número de linhas duplicadas: 1344979

In [244]:
df_final = df_final.drop_duplicates()
df_final

,trimestre,distrito,concelho,freguesia,codigo_postal,tipo_de_tecnologia,nivel_de_tensao,escalao_de_potencia_instalada,numero_de_instalacoes,potencia_instalada_upac_kw,Ano,pop_distrito
0,2023T1,coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023,418136.0
17,2023T1,coimbra,Condeixa-a-Nova,Zambujal,3150,Solar,BTN,"]0, 4]",2,4.32,2023,418136.0
34,2023T1,coimbra,Condeixa-a-Nova,Condeixa-a-Velha e Condeixa-a-Nova,3150,Não Atribuído,BTN,"]0, 4]",1,1.05,2023,418136.0
51,2023T1,coimbra,Condeixa-a-Nova,Vila Seca e Bem da Fé,3150,Solar,BTN,"]0, 4]",17,28.14,2023,418136.0
68,2023T1,coimbra,Figueira da Foz,São Pedro,3090,Não Atribuído,BTN,"]0, 4]",2,3.28,2023,418136.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1466268,2025T2,viseu,Viseu,Viseu,3515,Solar,BTN,"]4, 20.7]",1,20.00,2025,NaN
1466269,2025T2,viseu,Vouzela,Queirã,3670,Solar,BTN,"]4, 20.7]",7,53.51,2025,NaN
1466270,2025T2,viseu,Vouzela,São Miguel do Mato,3670,Solar,BTN,"]4, 20.7]",3,24.00,2025,NaN
1466271,2025T2,viseu,Vouzela,Ventosa,3670,Solar,BTN,"]4, 20.7]",3,31.20,2025,NaN
1466272,2025T2,viseu,Vouzela,Vouzela e Paços de Vilharigues,3670,Solar,BTN,"]4, 20.7]",6,71.08,2025,NaN

Only keeping the target years (2023, 2024)

In [245]:
df_final = df_final[df_final["Ano"].isin([2023, 2024])]
df_final

,trimestre,distrito,concelho,freguesia,codigo_postal,tipo_de_tecnologia,nivel_de_tensao,escalao_de_potencia_instalada,numero_de_instalacoes,potencia_instalada_upac_kw,Ano,pop_distrito
0,2023T1,coimbra,Condeixa-a-Nova,Furadouro,3150,Solar,BTN,"]0, 4]",2,3.00,2023,418136.0
17,2023T1,coimbra,Condeixa-a-Nova,Zambujal,3150,Solar,BTN,"]0, 4]",2,4.32,2023,418136.0
34,2023T1,coimbra,Condeixa-a-Nova,Condeixa-a-Velha e Condeixa-a-Nova,3150,Não Atribuído,BTN,"]0, 4]",1,1.05,2023,418136.0
51,2023T1,coimbra,Condeixa-a-Nova,Vila Seca e Bem da Fé,3150,Solar,BTN,"]0, 4]",17,28.14,2023,418136.0
68,2023T1,coimbra,Figueira da Foz,São Pedro,3090,Não Atribuído,BTN,"]0, 4]",2,3.28,2023,418136.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1465753,2023T1,coimbra,Coimbra,São Martinho de Árvore e Lamarosa,3030,Solar,BTN,"]0, 4]",2,3.34,2023,418136.0
1465770,2023T1,coimbra,Coimbra,São Martinho do Bispo e Ribeira de Frades,3040,Solar,BTN,"]0, 4]",13,19.19,2023,418136.0
1465787,2023T1,coimbra,Coimbra,Souselas e Botão,3020,Solar,BTN,"]0, 4]",104,129.81,2023,418136.0
1465804,2023T1,coimbra,Coimbra,Trouxemil e Torre de Vilela,3020,Não Atribuído,BTN,"]0, 4]",1,3.60,2023,418136.0
1465821,2023T1,coimbra,Condeixa-a-Nova,Ega,3150,Não Atribuído,BTN,"]0, 4]",2,3.30,2023,418136.0

In [246]:
df_final.isna().sum()

trimestre                        0
distrito                         0
concelho                         0
freguesia                        0
codigo_postal                    0
tipo_de_tecnologia               0
nivel_de_tensao                  2
escalao_de_potencia_instalada    0
numero_de_instalacoes            0
potencia_instalada_upac_kw       0
Ano                              0
pop_distrito                     0
dtype: int64

In [247]:
duplicadas = df_final[df_final.duplicated()]

print(f"Número de linhas duplicadas: {len(duplicadas)}")

Número de linhas duplicadas: 0

In [248]:
df_final.to_csv("data_with_pop.csv", index=False)